.center-block {
    display: grid;
    justify-content: center;
    align-items: center;
}

.custom-text-header-box {
    border-left: 3px solid #28a745;
    font-weight: 900;
    font-family: 'Sen', sans-serif;
    font-size: 1.34rem;

}

.iframe-custom {
    height: 100vh;
    border: none;
}

.card-footer {
    padding: 9px !important;
}

.country-container {

    margin-right: 1rem;
    margin-bottom: 10px;
}

.country-container > h6 {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;

}

.new-cases-span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    font-weight: 400;
}

.card-link{
    text-decoration: none;
}

.card-link:hover{
    text-decoration: none;
}

.android-container {
    display: none;
  }
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .android-container {
      display: block;
    width: 50%;
      margin: 0 auto;
  }
}